@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Global Styles */
h1 {
  font-size: 5rem;
  line-height: 64px;
  color: #222;
}

.btn {
  color: #000;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  border-width: 0.1px;
  transition: 0.2s;
}
.btn:hover {
  background-color: #088178;
  color: #fff;
  cursor: pointer;
}

h2 {
  font-size: 4.6rem;
  line-height: 5.44rem;
  color: #222;
}

h4 {
  font-size: 2rem;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 1.2rem;
}

p {
  font-size: 1.6rem;
  color: #465b52;
  margin: 1.5rem 0 2rem 0;
}

.section-p1 {
  padding: 4rem 8rem;
}

.section-m1 {
  margin: 4rem 0;
}

body {
  width: 100%;
}

.header {
  position: sticky;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3e6f3;
  padding: 2rem 8rem;
  z-index: 100;
}
.header__navLinksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}
.header__navLinksContainer li {
  list-style-type: none;
  padding: 0 2rem;
}
.header__navLinksContainer li a {
  text-decoration: none;
  color: #121212;
}
.header__navLinksContainer li a.active {
  color: #088178;
}
.header__navLinksContainer li a.active::after {
  display: block;
  content: "";
  width: 30%;
  height: 0.2rem;
  background-color: #088178;
}
.header__navLinksContainer li a:hover {
  color: #088178;
}
.header__navLinksContainer li a:hover::after {
  display: block;
  content: "";
  width: 30%;
  height: 0.2rem;
  background-color: #088178;
}

#hero {
  height: 100vh;
  background-image: url("../img/hero4.png");
  background-position: 30% 6%;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 9% 13%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.2rem;
  font-style: italic;
}
#hero p {
  color: #088178;
}
#hero .btn-hero {
  background-image: url("../img/button.png");
  background-position: top 0 left 50%;
  width: 19rem;
  height: 5rem;
  font-style: normal;
  background-repeat: no-repeat;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.feature__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3.4rem;
}
.feature__cards .card {
  border: 1px solid #cce7d0;
  padding: 5rem 2rem;
  box-shadow: 1.5rem 1.5rem 3.4rem rgba(0, 0, 0, 0.03);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}
.feature__cards .card:hover {
  box-shadow: 2rem 2rem 5.4rem rgba(70, 62, 221, 0.1);
}
.feature__cards .card > figcaption {
  padding: 1.3rem;
  border-radius: 0.6rem;
}
.feature__cards .card:nth-child(1) figcaption {
  color: #088178;
  background-color: #fddde4;
}
.feature__cards .card:nth-child(2) figcaption {
  color: #088178;
  background-color: #cdebbc;
}
.feature__cards .card:nth-child(3) figcaption {
  color: #088178;
  background-color: #d1e8f2;
}
.feature__cards .card:nth-child(4) figcaption {
  color: #088178;
  background-color: #cdd4f8;
}
.feature__cards .card:nth-child(5) figcaption {
  color: #088178;
  background-color: #f6dbf6;
}
.feature__cards .card:nth-child(6) figcaption {
  color: #088178;
  background-color: #fff2e5;
}

.products {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.products > * {
  margin-bottom: 2rem;
}
.products h4:nth-of-type(1) {
  font-weight: 300;
}
.products h4:nth-last-of-type(1) {
  font-weight: 500;
  color: #088178;
}
.products h3 {
  font-weight: 300;
}
.products__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.products__cards .card {
  width: 25rem;
  border: 3px solid black;
  padding: 1rem 1.2rem;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 2rem 2rem 3rem 0rem rgba(0, 0, 0, 0.03);
  transition: 0.2 ease;
  margin: 0 3rem 3rem 0;
  margin-bottom: 3rem;
}
.products__cards .card > * {
  margin-bottom: 0.8rem;
}
.products__cards .card__stars i {
  color: rgb(243, 181, 25);
}
.products__cards .card a {
  display: flex;
  justify-content: flex-end;
}
.products__cards .card a .fa-shopping-cart-green {
  background-color: #e8f6ea;
  color: #088178;
  border-radius: 50%;
  border: 1px solid #cce7d0;
  padding: 1rem;
  font-size: large;
}
.products__cards .card img {
  width: 100%;
  border-radius: 20px;
}
.products__cards .card:hover {
  cursor: pointer;
  box-shadow: 2rem 2rem 3rem 0rem rgba(0, 0, 0, 0.06);
}

.banner {
  text-align: center;
  background-image: url(../img/banner/b2.jpg);
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  row-gap: 2rem;
}
.banner h4 {
  color: inherit;
}
.banner h2 {
  color: inherit;
}
.banner h2 span {
  color: #ef3636;
}

.advertisement {
  height: 83vh;
  padding: 4rem 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff2e5;
}
.advertisement__boards {
  display: grid;
  height: 100%;
  width: 90%;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(6, 1fr);
}
.advertisement__boards > * {
  padding: 1rem;
  margin: 2rem;
}
.advertisement__boards .board {
  color: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2.8rem;
  row-gap: 0.3rem;
}
.advertisement__boards .board > h4 {
  color: #fff2e5;
}
.advertisement__boards .board > p {
  color: #fff2e5;
}
.advertisement__boards .board span {
  font-size: 2.5rem;
  font-weight: 800;
}
.advertisement__boards .board1 {
  grid-area: 1/span 3;
  background-image: url(../img/banner/b17.jpg);
}
.advertisement__boards .board2 {
  grid-area: 1/span 3;
  background-image: url(../img/banner/b10.jpg);
}
.advertisement__boards .board3 {
  grid-area: 2/span 2;
  background-image: url(../img/banner/b18.jpg);
  background-position: bottom 0 right 0;
}
.advertisement__boards .board4 {
  grid-area: 2/span 2;
  background-image: url(../img/banner/b16.jpg);
}
.advertisement__boards .board5 {
  grid-area: 2/span 2;
  background-image: url(../img/banner/b19.jpg);
}

.newsletter {
  background-image: url(../img/banner/b14.png);
  background-color: #041342;
  padding: 4rem 11rem;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.newsletter__details h4 {
  color: #fff2e5;
}
.newsletter__details p {
  color: rgba(255, 242, 229, 0.4509803922);
}
.newsletter__details p span {
  color: #ffbd27;
}
.newsletter__input {
  display: flex;
  height: 20.5%;
}
.newsletter__input input {
  border-radius: 0.4rem 0 0 0.4rem;
  text-align: center;
  width: 30rem;
  border-width: 0.2rem;
  border: none;
}
.newsletter__input input:focus {
  outline: none;
  box-shadow: -5px 5px 50px 0 rgba(8, 129, 120, 0.3);
}
.newsletter__input input::placeholder {
  font-size: 1.7rem;
}
.newsletter__input button {
  background-color: #088178;
  white-space: nowrap;
  border-radius: 0 0.4rem 0.4rem 0;
  border: none;
}

/*# sourceMappingURL=style.css.map */
