@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Global Styles */
h1 {
  font-size: 5rem;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 4.6rem;
  line-height: 5.44rem;
  color: #222;
}

h4 {
  font-size: 2rem;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 1.2rem;
}

p {
  font-size: 1.6rem;
  color: #465b52;
  margin: 1.5rem 0 2rem 0;
}

.section-p1 {
  padding: 4rem 8rem;
}

.section-m1 {
  margin: 4rem 0;
}

body {
  width: 100%;
}

.header {
  position: sticky;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3e6f3;
  padding: 2rem 8rem;
  z-index: 100;
}
.header__navLinksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}
.header__navLinksContainer li {
  list-style-type: none;
  padding: 0 2rem;
}
.header__navLinksContainer li a {
  text-decoration: none;
  color: #121212;
}
.header__navLinksContainer li a.active {
  color: #088178;
}
.header__navLinksContainer li a.active::after {
  display: block;
  content: "";
  width: 30%;
  height: 0.2rem;
  background-color: #088178;
}
.header__navLinksContainer li a:hover {
  color: #088178;
}
.header__navLinksContainer li a:hover::after {
  display: block;
  content: "";
  width: 30%;
  height: 0.2rem;
  background-color: #088178;
}

#hero {
  height: 100vh;
  background-image: url("../img/hero4.png");
  background-position: 30% 6%;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 9% 13%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.2rem;
  font-style: italic;
}
#hero p {
  color: #088178;
}
#hero .btn {
  background-image: url("../img/button.png");
  background-position: top 0 left 50%;
  width: 19rem;
  height: 5rem;
  font-style: normal;
  background-repeat: no-repeat;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.feature__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3.4rem;
}
.feature__cards .card {
  border: 1px solid #cce7d0;
  padding: 5rem 2rem;
  box-shadow: 1.5rem 1.5rem 3.4rem rgba(0, 0, 0, 0.03);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}
.feature__cards .card:hover {
  box-shadow: 2rem 2rem 5.4rem rgba(70, 62, 221, 0.1);
}
.feature__cards .card > figcaption {
  padding: 1.3rem;
  border-radius: 0.6rem;
}
.feature__cards .card:nth-child(1) figcaption {
  color: #088178;
  background-color: #fddde4;
}
.feature__cards .card:nth-child(2) figcaption {
  color: #088178;
  background-color: #cdebbc;
}
.feature__cards .card:nth-child(3) figcaption {
  color: #088178;
  background-color: #d1e8f2;
}
.feature__cards .card:nth-child(4) figcaption {
  color: #088178;
  background-color: #cdd4f8;
}
.feature__cards .card:nth-child(5) figcaption {
  color: #088178;
  background-color: #f6dbf6;
}
.feature__cards .card:nth-child(6) figcaption {
  color: #088178;
  background-color: #fff2e5;
}

/*# sourceMappingURL=style.css.map */
